#id_image {
    display: none;
  } 
  #id_username{
    width: 139px;
    height: 20px;
    margin-left: 37px;
    margin-top: -6px;
    grid-column-start: 1;
  }
  #id_username:focus{
    outline: none;
  }
  #id_old_password, #id_new_password1, #id_new_password2, #id_email, #id_confirm_password{
    margin-left: 37px;
    margin-top: -10px;
    outline: none;
    width: 214px;
  }
  #id_email, #id_confirm_password{
    width: 290px;
  }

  @media only screen and (max-width: 768px){
      #id_username{
        width: 101px;
        height: 14px;
        grid-column-start: 1;
        font-size: 12px;
      }
      #id_old_password, #id_new_password1, #id_new_password2, #id_email, #id_confirm_password{
        width: 170px;
        font-size: 12px;
      }
  }
